<div class='container'>
    <section class='section'>
        {{#unless user}}
            <div class='notification is-warning'>
                <button class='delete'></button>
                <p>Psst! The tech blog is better when you're signed in.
                    <b>Create an account or log in.</b></p>
            </div>
        {{/unless}}
    </section>

    {{! <section class='section is-large my-0 py-5 animated'>
        <h1 class='title'><span class='has-text-danger'>new</span>
            blogPosts;
            <span class='has-text-grey-light'>// New Blog Posts</span></h1>
        <div class='tile is-ancestor'>
            <div class='tile is-vertical is-8'>
                <div class='tile'>
                    <div class='tile is-parent is-vertical'>
                        <article
                            class='tile is-child notification is-primary post'
                        >
                            <p class='title'>Blog Title</p>
                            <p class='subtitle preview-text'>Lorem ipsum dolor
                                sit amet consectetur adipisicing elit. Maxime
                                nisi repellat magni quam illo pariatur nostrum
                                placeat quis, blanditiis qui non ab, vero
                                quaerat eaque fugit aliquam numquam ad modi.</p>
                            <small>Posted By: Isayah Durst</small><br />
                            <small>1/16/23</small>
                        </article>
                        <article
                            class='tile is-child notification is-warning post'
                        >
                            <p class='title'>Blog Title</p>
                            <p class='subtitle preview-text'>Lorem ipsum dolor
                                sit amet consectetur adipisicing elit. Maxime
                                nisi repellat magni quam illo pariatur nostrum
                                placeat quis, blanditiis qui non ab, vero
                                quaerat eaque fugit aliquam numquam ad modi.</p>
                        </article>
                    </div>
                    <div class='tile is-parent'>
                        <article
                            class='tile is-child notification is-info post'
                        >
                            <p class='title'>Blog Title</p>
                            <p class='subtitle preview-text'>Lorem ipsum dolor
                                sit amet consectetur adipisicing elit. Maxime
                                nisi repellat magni quam illo pariatur nostrum
                                placeat quis, blanditiis qui non ab, vero
                                quaerat eaque fugit aliquam numquam ad modi.</p>
                        </article>
                    </div>
                </div>
                <div class='tile is-parent'>
                    <article class='tile is-child notification is-danger post'>
                        <p class='title'>Blog Title</p>
                        <p class='subtitle preview-text'>Lorem ipsum dolor sit
                            amet consectetur adipisicing elit. Maxime nisi
                            repellat magni quam illo pariatur nostrum placeat
                            quis, blanditiis qui non ab, vero quaerat eaque
                            fugit aliquam numquam ad modi.</p>
                    </article>
                </div>
            </div>
            <div class='tile is-parent'>
                <article class='tile is-child notification is-success post'>
                    <p class='title'>Blog Title</p>
                    <p class='subtitle preview-text'>Lorem ipsum dolor sit amet,
                        consectetur adipisicing elit. Distinctio aliquam id
                        animi repellendus corporis fuga enim, illum similique,
                        sit aliquid vel facere aut libero praesentium voluptas
                        modi. Nulla, officiis magni.</p>
                </article>
            </div>
        </div>
    </section> }}
    <section class='section animated is-large pt-0 mt-5'>
        <h2 class='title'>[<span
                class='has-text-danger'
            >...</span>allBlogPosts];
            <span class='has-text-grey-light'>// All Blog Posts</span></h2>
        {{#each posts as |post|}}
            <div
                class='box post has-background-info preview'
                data-postID='{{post.id}}'
            >
                <p class='title has-text-white'>{{post.title}}</p>
                {{!-- <p class='subtitle has-text-white'>{{post.content}}</p> --}}
                <small class='has-text-white'>Posted By:
                    {{post.user.username}}<br />{{post.createdAt}}</small>
            </div>
        {{/each}}
    </section>
</div>
<script src='../js/home.js'></script>